@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

.navbar-div {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #1f6ea9;
}

.hero {
  /* height: 100vh; */
  width: 100%;
  background: url("./assets/header.png") no-repeat center center;
  background-size: cover;
  /* Ensures the image covers the full area */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 80px 100px;
  /* Adds padding for smaller screens */
}

@media (min-width: 992px) {
  .hero {
    padding-top: 8rem;
    height: 86vh;
    /* Adjust height on smaller screens */
  }

  .hero {
    flex-direction: row;
    /* Makes it a row layout on large screens */
    text-align: left;
  }

  .hero-image img {
    width: 30vw;
  }

  .hero-image {
    border: 5px #FFFFFF;
    border-radius: 0;
  }

  .hero-content {
    gap: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-content h2 {
    font-family: "Outfit", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
  }

  .hero-content h5 {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    padding-right: 7rem;
  }

  .hero-content a {
    padding: 8px 16px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .hero h1 {
    font-size: 2rem;
  }
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 10rem;
    /* height: 86; */
    /* Adjust height on smaller screens */
  }

  .hero h1 {
    font-size: 3rem;
    /* Larger font size for bigger screens */
  }
}

.hero p {
  font-size: 1rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  /* Ensures the image scales nicely */
}

@media (max-width: 768px) {
  .hero {
    padding:7rem 1rem;
    height: auto;
    /* Adjust height on smaller screens */
  }

  .hero-content {
    margin-bottom: 20px;
  }

  .hero-image img {
    width: 80%;
  }
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
}

.hero h1,
.hero p {
  animation: fadeInUp 1s ease-in-out;
}

/* .main{
  height: 100vh;
} */

.circle {
  width: 100px;
  height: 100px;
  background-color: #0b1d4c;
  /* Dark blue color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.circle-span {
  font-size: 30px;
}

.header-btn {
  padding: 8px 16px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
}

.navbar-div .nav-link {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
}

@media (max-width:719px) {
  .circle {
    width: 68px;
    height: 68px;
    font-size: 20px;
  }

  .circle-span {
    font-size: 20px;
  }

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.main {
  height: 50vh;
  overflow-x: hidden;
  padding: 80px 130px;
}

@media (max-width: 992px) {
  .main {
    overflow-x: auto;
    /* Enables horizontal scroll for medium and small screens */
    white-space: nowrap;
    /* Prevents wrapping, keeping images in a row */
    padding: 20px;
    scroll-behavior: smooth;
  }

  .main::-webkit-scrollbar {
    display: none;
  }

  .main div {
    display: inline-block;
    /* Makes the images scroll horizontally */
    margin-right: 10px;
    /* Adds space between images */
  }

  .main img {
    max-width: 100px;
    /* Adjust image width for smaller screens */
    height: auto;
  }
}

@media (max-width: 576px) {
  .main img {
    max-width: 80px;
    /* Further reduce image size for extra small screens */
  }

  .main::-webkit-scrollbar {
    display: none;
  }
}


.about {
  background-color: aliceblue;
}

.container1 {
  background: aliceblue;
  padding: 80px 130px;
}

@media (max-width:716px) {
  .container1 {
    padding: 40px 10px;
  }
}

.container1-para1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.container1 p span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.container1-para2 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.container1-para3 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.container2 {
  padding: 80px 130px;
}

@media (max-width:644px) {
  .container2 {
    padding: 0px;
  }
 
}

.container2-list {
  margin-top: 1rem;
  padding: 0 3rem;
}

@media (max-width:716px) {
  .container2-list {
    padding: 0 10px;
  }
}

.input-card input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.input-card span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}


.section2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  padding: 0 7rem;
  gap: 40px;
}

@media (max-width: 992px) {
  .section2 {
    padding: 1rem 0 ;
  }
}

.sec2-img {
  gap: 24px;
}

.sec2-img img {
  border-radius: 0px;
}

.container2-para1 {
  padding: 0 0.1rem;
}

.container2-para1 p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.bert {
  background-image: url('./assets/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 130px;
}

@media (max-width:716px) {
  .bert{
    padding: 40px 10px;
  }
}

.framework-container {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.framework-heading {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.framework-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0;
  text-align: center;

}

.hexagon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.hexagon {
  position: relative;
  width: 337px;
  height: 340px;
  background-color: white;
  color: black;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hexagon img {
  width: 50px;
  margin-bottom: 15px;
}

.hexagon h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 34px;
}

.hexagon p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}

.hex1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 720px) {
  .hex45 {
    top: -5rem;
  }
}



.frame5 {
  background-color: #fff;
  padding: 3rem;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .frame5 {
    padding: 1rem;
  }
}

h2,
h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  color: #333;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  color: #6c757d;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


@media (min-width: 768px) {
  .frame5 {
    padding: 4rem;
  }
}

@media (min-width: 992px) {
  .kamal-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .kamal-f1 {
    width: 50%;
  }

  .kamal-f1 h5 {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
  }

  .kamal-f1 p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .kamal-f2 {
    width: 40%;

  }
}

.frame5-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.frame5-heading h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 50px;
}

.frame5-heading p {
  font-size: 18px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}

.carddown {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}

.line {
  width: 112px;
  border-top: 2px solid #212529;
  transform: rotate(-90deg);
  opacity: 1;
}

.text-content h3 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.text-content p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.text-content {
  margin-left: -10px;
  /* Provides spacing between the line and text */
}

.best-seller h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 50px;
}

.best-seller p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}



@media (max-width:644px) {
  .best-seller-frame {
    padding: 40px 0 10px 0;
  }

  .formleft {
    padding-left: 0;
  }
}


.comment-part {
  width: 70%;
}

@media (min-width:720px) {
  .comment-part {
    width: 60%;
  }

  .comment {
    padding: 80px 130px;
  }
}


.checklist {
  list-style-type: none;
  padding-left: 0;
}

.checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist li input {
  margin-right: 10px;
}

@media (min-width:720px) {
  .image-container {
    position: relative;
    /* width: max-content; */
    height: 500px;
  }

  /* Styling for the first image */
  .img1 {
    position: absolute;
    width: 359.87px;
    height: 454.81px;
    top: -0.03px;
    left: 157.13px;
    opacity: 1;
    /* Ensure the image is visible */
  }

  /* Styling for the second image */
  .img2 {
    position: absolute;
    width: 317.67px;
    height: 400.89px;
    top: 69.13px;
    left: 0;
    opacity: 1;
    /* Ensure the image is visible */
  }

  .formleft {
    width: 50%;
  }
}

@media (max-width:720px) {
  .image-container {
    position: relative;
    width: max-content;
    margin-top: 3rem;
    height: auto;
    margin-left: 3rem;
  }

  .img1 {
    /* position: absolute; */
    width: 59%;
    height: 98%;

    opacity: 4;
  }

  .img2 {
    position: absolute;
    width: 63%;
    height: 20%;
    top: -45.87px;
    left: 55px;
    opacity: 1;
  }
}

.bertpart1 p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 30px;
}

.bertpart1 h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 50px;
}

.cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cardbox-cardd {
  height: 26rem;
  width: 20rem;
  padding: 3rem 2rem;
  background: white;
  border-radius: 8px;
}

.cardbox-img {
  width: 25px;
}

.cardbox-cardd h5 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.cardbox-cardd p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Container that holds the cards */
.cardbox-main {
  display: flex;
  justify-content: center;
  overflow-x: scroll;

  /* Allow horizontal scrolling */
  scroll-behavior: smooth;
  /* Enable smooth scrolling */
}

.cardbox-main::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.cardbox-main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Hide the scrollbar for a cleaner look */
.w-75::-webkit-scrollbar {
  display: none;
}

/* Card styling remains the same */
.cardbox-card {
  display: inline-block;
  /* Ensures the cards stay in a single row */
  flex-shrink: 0;
  /* Prevent cards from shrinking */
  width: 12rem;
  height: 15rem;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


footer {
  background: #ecf4ff;
}

.footer-left {
  width: 80%;
  margin: 3rem;
}

.footer-right {
  width: 80%;
  margin: 3rem;
}

.imag {
  width: 50%;
}

@media (min-width:720px) {
  .imag {
    width: 50%;
  }

  .footer-left {
    width: 30%;
    margin-left: 3rem;
  }
  .footer-left p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }

  .footer-right {
    width: 30%;
    margin-right: 3rem;
  }
  .footer-right p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }
}


@media (min-width:720px) {
  .downstage {
    width: 1180px;
    height: 560px;
    top: 180px;
    left: 130px;
    padding: 40px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
    background: #0069B4CC;
    position: relative;
    top: -5rem;
    left: 3rem;
  }

  .book-thumbs {
    width: 50%;
  }

  .book-thumbs h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    line-height: 50px;
  }

  .book-thumbs p {
    width: 75%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }

  .book-thumbs input {
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }

  .thumb-right img {
    width: 50%;
  }
}

.upstage {
  width: 100%;
  height: 200px;
  padding: 80px 383px 197px 382px;
  gap: 0px;
  opacity: 0px;
  background: #DBEAFF;
}

.upstage p{
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}

.book-thumbs {
  margin-left: 4rem;

}

.thumb-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:719px) {
  .upstage {
    display: none;
  }

  .downstage {
    padding: 40px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;
    background: #2383c7cc;
    position: relative;
    top: 0rem;
    left: 0rem;
  }

  .thumb-right img {
    width: 100%;
  }

  .book-thumbs h1 {
    font-size: 1.75rem;
  }

  .thumb-right img {
    width: 100%;
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
